---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }} {{ page.description }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <br><br><center style="color:red"><b>This is an archived version of the website which is no longer updated; for the current version, plese visit <a style="color:red" href="https://alraqmiyyat.github.io/">https://alraqmiyyat.github.io/</a></b></center><br><br>

			{{ content }}

        <br><br><center style="color:red"><b>This is an archived version of the website which is no longer updated; for the current version, plese visit <a style="color:red" href="https://alraqmiyyat.github.io/">https://alraqmiyyat.github.io/</a></b></center><br><br>

		</div>
	</div>
</div>

<hr>
